
body, html {
    margin: 0;
}
img {
    width: 720px;
    height: 800px;
    angle: 0 deg;
    opacity: 1;

}
.main {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: -10px;
    height: 800px;
    
}
header {
    display: flex;
    justify-content: space-between;
   align-items: center;
   align-content: center;
   margin-top: 28px;
}
.logo {
    padding: 10px;
}
.btn {
    border: 2px solid  rgba(30, 136, 229, 1);
    width: 160px;
    border-radius: 10px;
    border-width: 2px;
    padding: 10px;
    background-color: white;
    color: rgba(30, 136, 229, 1);
    a {
        text-decoration: none;
        color: rgba(30, 136, 229, 1);
    }

}
.aside {
    padding-left: 50px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 30px;
    
}
.content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
 

}
h1 {
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 32px;
leading-trim: NONE;
line-height: 42px;
letter-spacing: 0%;

}
.content p {
    font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
margin-top: 8px;

}
.icon {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 11px;
    
    
}
.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    

    

}
.button {
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-top: 31px;
}
.start-btn {
    width: 557;
height: 60;
gap: 16px;
angle: 0 deg;
opacity: 1;
padding-top: 18px;
padding-right: 196px;
padding-bottom: 18px;
padding-left: 196px;
border-radius: 10px;
background: var(--Primary-Color, rgba(255, 122, 24, 1));
color: white;
border: 0px solid white;

}
.learn-btn {
    width: 557;
height: 60;
gap: 16px;
angle: 0 deg;
opacity: 1;
padding-top: 18px;
padding-right: 196px;
padding-bottom: 18px;
padding-left: 196px;
border-radius: 10px;
color: rgba(30, 136, 229, 1);
border: 2px solid var(--Primary-Blue, rgba(30, 136, 229, 1));
white-space: nowrap;
background-color: white;
}
.established {
    width: 555;
height: 50;
margin-top: 100px;
left: 824px;
padding: 10px;
gap: 10px;
angle: 0 deg;
opacity: 1;
display: flex;
justify-content: center;

}
.service {
    color: var(--Soft-Blue, rgba(100, 181, 246, 1));
    font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0%;


}
footer {
background: rgba(85, 40, 40, 0.829);
color: white;
padding-left: 50px;
padding-right: 200px;
margin-top: 10px;
padding-top: 20px;


p {
    color: rgba(255, 255, 255, 1);
    font-weight: lighter;
}

}
.brown {
    display: flex;
    justify-content: space-between;
    align-content: center;
   color: rgba(255, 255, 255, 1);
 


}
.bring {
    font-family: Jost;
font-weight: 400px;
font-size: 24px;
line-height: 36px;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);
margin-bottom: 60px;

}

.page-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-right: 20px;
}
